<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.toponym.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.toponym.entity.bean.Notice">
        <id column="id" property="id" />
        <result column="notice_category" property="noticeCategory" />
        <result column="notice_type" property="noticeType" />
        <result column="notice_name" property="noticeName" />
        <result column="notice_content" property="noticeContent" />
        <result column="organization_id" property="organizationId" />
        <result column="organization_name" property="organizationName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="notice_file_id" property="noticeFileId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, notice_category, notice_type, notice_name, notice_content, organization_id, organization_name, create_time, update_time, create_user, update_user, notice_file_id
    </sql>

</mapper>
